*, *:after, *:before {
  margin: 0;
  padding: 0;
}

body {
  font-family: lucida sans-serif;
}

.container {
  width: 85%;
  margin: auto;
}

@media (max-width: 600px) {
  .container {
    width: 95%
  }
}
.hiddien {
  display: none;
}